*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
    flex: auto;
    justify-content: space-around;
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rules {
    color: crimson;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}


}
.start-bttn {
    font-size: 30px;
    font-weight: bold;
}
.hidden {
    display: none;
}